<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset='utf-8'>
    <title>Word Counter</title>
  </head>
  <body>
    <div class="container">
        <h1>Word Counter Game</h1>
      <h2><a href='/game/new'>Start A New Game!</a></h2>
    </div>
  </body>
</html>
