<h1>Add a new sentence, word, and replacement word:</h1>

<form action='/game/results' method='post'>
  <label for='sentence'>Sentence:</label>
  <input id='sentence' name='sentence' type='text'>
  <label for='word'>Word To Replace:</label>
  <input id='word' name='word' type='text'>
  <label for='replacementWord'>Replacement Word:</label>
  <input id='replacementWord' name='replacementWord' type='text'>
  <button type='submit'>Add</button>
</form>
