<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset='utf-8'>
    <title>Word Counter</title>
  </head>
  <body>
    <h2>Your word showed up @Model.CheckForMatches() time(s)</h2>

    <h2> Your new sentence is: @Model.Replace()

    <h2><a href='/game/new'>Start A New Game!</a></h2>
    <h2><a href='/'>Return Home</a></h2>
  </body>
</html>
